body{
  font-family: 'Inconsolata', monospace;

}

p{
  font-size: 17px;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    font-family: 'Open Sans', sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.footer-padding {
	padding-bottom: 60px;
}

.container{
  max-height: calc(100vh - 160px);
  overflow: scroll;
}

.footer {
	position: absolute;
  /* padding-top: 3px; */
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #1abc9c;
}

.footer p {
	margin-top: 25px;
	font-size: 16px;
  color: #fff;
}

.read-more{
    color: #777777;
}

.read-more:hover{
    color: #1abc9c;
}

@media only screen and (max-width: 768px) {
  .container{
    max-height: calc(100vh - 280px);
    overflow: scroll;
  }
}
